In [ ]:
imagepath = '/Users/jaewoojung/썸네일_이미지정보_추출/cropped01'

In [ ]:
imagepath

'/Users/jaewoojung/썸네일_이미지정보_추출/cropped01'

## 이미지 확장자  변경

In [ ]:
import cv2
import os

# 디렉토리 경로 설정
directory_path = imagepath
file_names = os.listdir(directory_path)

# PNG 파일을 JPG로 변환
for file_name in file_names:
    if file_name.lower().endswith('.png'):
        file_path = os.path.join(directory_path, file_name)


        image = cv2.imread(file_path)

        if image is None:
            print(f"이미지 입력 오류 : {file_name}")
            continue

        # 변환된 파일 이름 설정 (확장자만 JPG로 변경)
        new_file_name = file_name.rsplit('.', 1)[0] + '.jpg'
        new_file_path = os.path.join(directory_path, new_file_name)

        # 이미지 저장
        cv2.imwrite(new_file_path, image)

        print(f"변환 완료: {file_name} -> {new_file_name}")

## HSV로 변환

In [ ]:
import os
import cv2
import numpy as np
import pandas as pd

path = imagepath

file_names = os.listdir(path)
data = []

# 파일 처리
for file_name in file_names:
    if file_name.lower().endswith(('.jpg', '.jpeg', '.png')):

        file_path = os.path.join(path, file_name)


        image = cv2.imread(file_path)
        # 오류 확인
        if image is None:
            print(f"이미자 출력 오류: {file_name}")
            continue


        hsv_image = cv2.cvtColor(image, cv2.COLOR_BGR2HSV)

        # 이미지에서 50% 픽셀 샘플링
        num_pixels = hsv_image.shape[0] * hsv_image.shape[1]
        num_samples = num_pixels // 50
        sampled_pixels = hsv_image.reshape(-1, 3)[np.random.choice(num_pixels, num_samples, replace=False)]


        mean_hsv = np.mean(sampled_pixels, axis=0).astype(int)

        # 평균 HSV 값을 저장
        data.append([file_name, mean_hsv[0], mean_hsv[1], mean_hsv[2]])


df = pd.DataFrame(data, columns=['Filename', 'Mean_H', 'Mean_S', 'Mean_V'])

csv_path = '/Users/jaewoojung/썸네일_이미지정보_추출/mean_hsv_values.csv'
df.to_csv(csv_path, index=False)

CSV 파일이 성공적으로 저장되었습니다: /Users/jaewoojung/썸네일_이미지정보_추출/mean_hsv_values.csv

In [ ]:
import pandas as pd

data = pd.read_csv('mean_hsv_values 복사본.csv')

data

In [ ]:
data

             Filename  Mean_H  Mean_S  Mean_V
0     g59Bk7aEa10.png      70      70     152
1     ql77GXj19Sw.jpg      30      82     126
2     HUK5K_nQdAI.png      77      38     108
3     Uk3LBk0g_Do.jpg      57      53     158
4     hlZr7eHuXsU.jpg      17      65     220
...               ...     ...     ...     ...
2189  w2Ziuepkprs.jpg     117      40     173
2190  bfEc1dOGj08.png      48      44     186
2191  QAMXKxtpnjE.png      42     121     137
2192  xK-EKFLmDfI.png      46      47     180
2193  aM1WUNxpVl4.png      32      40     166

[2194 rows x 4 columns]

In [ ]:
data["Filename"].value_counts()

Filename
g59Bk7aEa10.png    1
I2gLD38UgV8.png    1
T3-AciE9kZ0.png    1
8kmEYTWr3Ao.png    1
SDr3UfrkD4Y.jpg    1
                  ..
u9uVjl6aaqc.jpg    1
SP4eEkj0_jk.jpg    1
hY_wQyJiP7U.png    1
ZAV0uU-hKyI.png    1
aM1WUNxpVl4.png    1
Name: count, Length: 2194, dtype: int64

## 결과 확인

In [ ]:
import pandas as pd

pd.read_csv('mean_hsv_values 복사본.csv')

             Filename  Mean_H  Mean_S  Mean_V
0     g59Bk7aEa10.png      70      70     152
1     ql77GXj19Sw.jpg      30      82     126
2     HUK5K_nQdAI.png      77      38     108
3     Uk3LBk0g_Do.jpg      57      53     158
4     hlZr7eHuXsU.jpg      17      65     220
...               ...     ...     ...     ...
2189  w2Ziuepkprs.jpg     117      40     173
2190  bfEc1dOGj08.png      48      44     186
2191  QAMXKxtpnjE.png      42     121     137
2192  xK-EKFLmDfI.png      46      47     180
2193  aM1WUNxpVl4.png      32      40     166

[2194 rows x 4 columns]

In [ ]:
import os
import pandas as pd

df = pd.read_csv('mean_hsv_values 복사본.csv')

df['File_Name'] = df['Filename'].apply(lambda x: os.path.splitext(x)[0])
print(df)

             Filename  Mean_H  Mean_S  Mean_V    File_Name
0     g59Bk7aEa10.png      70      70     152  g59Bk7aEa10
1     ql77GXj19Sw.jpg      30      82     126  ql77GXj19Sw
2     HUK5K_nQdAI.png      77      38     108  HUK5K_nQdAI
3     Uk3LBk0g_Do.jpg      57      53     158  Uk3LBk0g_Do
4     hlZr7eHuXsU.jpg      17      65     220  hlZr7eHuXsU
...               ...     ...     ...     ...          ...
2189  w2Ziuepkprs.jpg     117      40     173  w2Ziuepkprs
2190  bfEc1dOGj08.png      48      44     186  bfEc1dOGj08
2191  QAMXKxtpnjE.png      42     121     137  QAMXKxtpnjE
2192  xK-EKFLmDfI.png      46      47     180  xK-EKFLmDfI
2193  aM1WUNxpVl4.png      32      40     166  aM1WUNxpVl4

[2194 rows x 5 columns]

In [ ]:
df

             Filename  Mean_H  Mean_S  Mean_V    File_Name
0     g59Bk7aEa10.png      70      70     152  g59Bk7aEa10
1     ql77GXj19Sw.jpg      30      82     126  ql77GXj19Sw
2     HUK5K_nQdAI.png      77      38     108  HUK5K_nQdAI
3     Uk3LBk0g_Do.jpg      57      53     158  Uk3LBk0g_Do
4     hlZr7eHuXsU.jpg      17      65     220  hlZr7eHuXsU
...               ...     ...     ...     ...          ...
2189  w2Ziuepkprs.jpg     117      40     173  w2Ziuepkprs
2190  bfEc1dOGj08.png      48      44     186  bfEc1dOGj08
2191  QAMXKxtpnjE.png      42     121     137  QAMXKxtpnjE
2192  xK-EKFLmDfI.png      46      47     180  xK-EKFLmDfI
2193  aM1WUNxpVl4.png      32      40     166  aM1WUNxpVl4

[2194 rows x 5 columns]

In [ ]:
df.drop(columns=['Filename'], inplace=True)

In [ ]:
df

      Mean_H  Mean_S  Mean_V    File_Name
0         70      70     152  g59Bk7aEa10
1         30      82     126  ql77GXj19Sw
2         77      38     108  HUK5K_nQdAI
3         57      53     158  Uk3LBk0g_Do
4         17      65     220  hlZr7eHuXsU
...      ...     ...     ...          ...
2189     117      40     173  w2Ziuepkprs
2190      48      44     186  bfEc1dOGj08
2191      42     121     137  QAMXKxtpnjE
2192      46      47     180  xK-EKFLmDfI
2193      32      40     166  aM1WUNxpVl4

[2194 rows x 4 columns]

In [ ]:
filename_column = df['File_Name']
df.drop(columns=['File_Name'], inplace=True)
df.insert(0, 'File_Name', filename_column)