> 청각 데이터 전처리 코드입니다.

> 참고 : Cell의 Output에 VideoId, ChannelId 등 개인정보가 포함된 경우 개인정보 보호를 위해 Output을 삭제하였습니다.

# 데이터 불러오기

In [ ]:
import pandas as pd

df = pd.read_csv('sound_final.csv')

# 데이터 전처리
### - 최소값으로 결측치 채우기

In [ ]:
min1 = df['f0_mean'].min()
min2 = df['f0_var'].min()
min1, min2

(80.0609250563203, 0.0)

In [ ]:
df['f0_mean'] = df['f0_mean'].fillna(min1)
df['f0_var'] = df['f0_var'].fillna(min2)

In [ ]:
df['f0_mean'].isna().sum(), df['f0_var'].isna().sum()

(0, 0)

In [ ]:
temp = df.copy() # 데이터 임시저장

### - 이상치, 상한, 하한 구하기
** 이상치는 1.5 * iqr 방식 활용

In [ ]:
q1 = df['f0_var'].quantile(0.25)
q3 = df['f0_var'].quantile(0.75)

iqr = q3-q1

1.5 * iqr

lower = q1 - 1.5 * iqr
upper = q3 + 1.5 * iqr

lower, upper

(-740.3022416751146, 3501.9291625524866)

### 상한값보다 큰 이상치는 상한값으로 변경

In [ ]:
df.loc[df['f0_var'] >= upper, 'f0_var'] = upper

In [ ]:
df['f0_var'].sort_values(ascending=False)

785     3501.929163
280     3501.929163
734     3501.929163
2032    3501.929163
69      3501.929163
           ...
351        0.000000
591        0.000000
337        0.000000
1589       0.000000
1068       0.000000
Name: f0_var, Length: 2184, dtype: float64

### MinMax 정규화

In [ ]:
from sklearn.preprocessing import MinMaxScaler


cols = ['tempo','f0_mean','f0_var']
scaler = MinMaxScaler()

for i in cols:
    df[[i]] = scaler.fit_transform(df[[i]])

# 데이터 저장
### - csv로 저장 후 확인

In [ ]:
df.to_csv('final.csv', index = False)

In [ ]:
pd.read_csv('final.csv')